@import "../scss/common.scss";

.main-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.main-content-wrapper {
    flex: 1;
    position: relative;
    display: flex;
    overflow: hidden;
}

.bottom-navigator-wrapper {
    display: flex;
    user-select: none;

    .tab {
        flex: 1;
        height: 45px;
        background: $secondary-color;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;

        .icon {
            width: 25px;
            height: 25px;
        }
    }
}
