@import "../scss/common.scss";

#profile_edit {
    font-size: 13px;
    justify-content: flex-start;
    margin-bottom: 10px;

    & img {
        margin-right: 12px;
    }
}

#username_wrapper {
    margin-bottom: 10px;
}

#username_input {
    text-align: left;
    flex: 1;
    margin-left: 7px;
}

.toggle-button {
    line-height: 36px;
    background: $background-color;
    color: $background-text;
    z-index: 0;
    display: flex;
    position: relative;
    border-radius: 7px;
    overflow: hidden;
    user-select: none;

    & div {
        width: 50%;
        text-align: center;
        z-index: 3;
        transition: 0.3s;

        &:hover ~ .selector {
            background: $primary-focus;
        }

        &.selector {
            position: absolute;
            background: $primary-color;
            z-index: 2;
            height: 100%;
            border-radius: 7px;
        }
    }

    & input {
        display: none;

        &:not(:checked) ~ div.first {
            color: $secondary-color;
        }

        &:checked ~ div:not(.first) {
            color: $secondary-color;
        }

        &:checked ~ div.selector {
            transform: translateX(100%);
        }
    }
}

#role_toggle {
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 500;
}

#user_profile {
    margin-bottom: 10px;
    text-align: left;
    color: $background-text;
    font-size: 14px;

    & div {
        margin-left: 10px;
    }
}
