@import "../scss/common.scss";

#profile_edit {
    font-size: 13px;
    justify-content: flex-start;
    margin-bottom: 10px;

    & img {
        margin-right: 12px;
    }
}

#user_profile {
    margin-bottom: 10px;
    text-align: left;
    color: $background-text;
    font-size: 14px;

    & div {
        margin-left: 10px;
    }
}
