@import "../scss/common.scss";

.add-task {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $secondary-color;
    box-shadow: 0px 8px 15px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-card {
    margin-bottom: 10px;
    text-align: left;
    color: $background-text;
    font-size: 14px;
    text-decoration: none;
    outline: none;

    & .text-avatar {
        margin-right: 10px;
    }

    & .tags-container {
        margin-top: 10px;
        gap: 3px;

        .tag {
            padding: 2px;
            border-style: solid;
            border-width: 1px;
            border-color: $background-focus;
            color: $background-focus;
            border-radius: 5px;
            font-size: 12px;
        }
    }

    & .bottom {
        color: $background-focus;
        margin-top: 10px;
        font-size: 12px;
    }
}