@import "../scss/common.scss";

.add-task {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $secondary-color;
    box-shadow: 0px 8px 15px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-task-wrapper{
    & span, & input, & textarea {
        margin-bottom: 10px;
    }

    & textarea {
        resize: none;
    }
}

.task-card{
    margin-bottom: 10px;
    text-align: left;
    color: $background-text;
    font-size: 14px;
    text-decoration: none;

    & .flex-column {
        margin-left: 10px;
    }

    & .bottom {
        color: $background-focus; 
        margin-top: 10px;
    }
}