@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap");

$primary-color: #5458f7;
$primary-focus: #3d3fb3;
$secondary-color: #ffffff;
$background-color: #f4f4f4;
$background-focus: #b3b3b3;
$background-text: #000000;
$font-family: "Raleway", sans-serif;

.button,
input, textarea {
    font-family: $font-family;
}

.button {
    color: $secondary-color;
    background: $primary-color;
    border-radius: 7px;
    border: none;
    line-height: 36px;
    padding: 0 14px;
    font-weight: 400;
    font-size: 16px;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    user-select: none;

    &:hover, &:focus {
        background: $primary-focus;
        outline: none;
    }

    &.secondary {
        color: $background-text;
        background: $background-color;

        &:hover, &:focus {
            background: $background-focus;
        }
    }
}

.card {
    background: $secondary-color;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.underline-input {
    outline: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #666666;
    padding: 10px 0;
    text-align: center;
    font-size: 13px;
    font-weight: 300;

    &:focus {
        border-bottom-color: $primary-color;
    }
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-row,
.flex-column {
    display: flex;

    & .justify-evenly {
        justify-content: space-evenly;
    }

    & .justify-between {
        justify-content: space-between;
    }
}

.flex-1 {
    flex: 1;
}

.semi-bold {
    font-weight: 600;
}

.medium {
    font-weight: 400;
}

.regular {
    font-weight: 400;
}

.light {
    font-weight: 300;
}

.text-start {
    text-align: start;
}

span.background {
    color: $background-text;
}

.form-input{
    background: $background-color;
    border: none;
    border-radius: 20px;
    outline: none;
    padding: 10px;
    font-size: 13px;
}

.overflow-auto{
    overflow: auto;
}

.reply-wrapper {
    margin-top: 10px;
    
    & .text-avatar {
        margin-right: 10px;
    }
    & .reply {
        margin-top: 10px;
        font-size: 12px;
        background: $background-color;
        border-radius: 20px;
        padding: 10px;

        & .timestamp {
            color: $background-focus;
            margin-top: 5px;
            align-self: flex-end;
        }
    }
}